.topnav {
    overflow: hidden;
    background-color:transparent;
}
img{
    display: block;
    align-self: center;
}

.topnav a {
    float: right;
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color:beige;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {

    .topnav a:not(:nth-child(2)) {display: none;}
    .topnav a.icon {
        float: left;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
 body{
     background: aliceblue;
 }

#banner-top {
    height: 100vh;
    background: url('kisumu.jpg') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* Banner Content */
#banner-top {
    text-align: center;
    position: relative;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#banner-top h3 {
    font-size: 32px;
    font-family: 'Ubuntu', arial, sans-serif;
    font-weight: 500;
    font-style: italic;
    color:burlywood;
}

#banner-top h1 {
    width: 70%;
    margin-bottom: 10px;
    font-size: 44px;
    font-family: 'Poppins', arial, sans-serif;
    font-weight: 700;
    color: #fff;
}

#banner-top h1 span { color: #0b93ee; }

@media screen and (max-width: 860px) {
    #banner-top h3 {
        font-size: 19px;
        margin-bottom: 5px;
    }

    #banner-top h1 {
        width: 100%;
        font-size: 33px;
    }
}